#view-style{
    color: rgb(240, 231, 231);
    height: 510px;
    width: 80%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;  
    margin-left: 10%;
    background-color: rgb(0,0,0,0.4);
    box-shadow: 2px solid rgba(214, 74, 74, 0.5);
    overflow: scroll;
    margin-top:5% ;
    
} 
.title{
    position: relative;
    animation: type 3s steps(19);
    color:rgb(231, 212, 245);
    font-size: 40px;
    white-space: nowrap;
    font-family: Verdana, sans-serif;
    margin-left: 30%;
    
    
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 19ch;
    }
} 
label{
    font-family: Verdana, sans-serif;
    margin-left: 10%;
    font-size: 20px;
}

table{
    float: inherit;
    border: 2px solid rgb(105, 102, 102);
   margin: 5% 5% 5% 5%;
    border-radius: 10px;
    table-layout: auto; 
    width: 90%;
    border-collapse: collapse;
    
}  
th{
    color: rgb(216, 196, 14);
    font-size: 20px;
    padding: 2px 55px 2px 55px;
    background-color: rgb(43, 44, 42);
}
td{
    color: rgb(231, 212, 245);;
    font-size: 20px;
    padding: 2px 55px 2px 55px;
    background-color: rgba(31, 2, 2, 0.4);
    
}

tr{
    border:1px solid rgb(15, 15, 15) ; 
}
p{
    color: red;
}
